<h1>Educating for better tomorrow</h1>

<!--Use of ngIf in case of hardcoded value-->
<h1 *ngIf="false">Pune</h1>

<!-- We can use any property with ngIf-->
<h1 *ngIf="flag">Maharashtra</h1>

<!-- We can also perform if else partition-->
<h1 *ngIf="flag; else OtherPart">Hello</h1>

<ng-template #OtherPart>
  <h1>
    World
  </h1>
</ng-template>

<!--We can also use below syntax for if else-->
<div *ngIf="flag; then ifblock; else elseblock"></div> 

<ng-template #ifblock>
  <h1>Marvellous If block</h1>
</ng-template>

<ng-template #elseblock>
  <h1>Marvellous Else block</h1>
</ng-template>